html {
    background-color:rgb(161, 161, 251);
    color: white;
}
h1 {
    font-size: 70px;
    text-decoration: underline;
}
p {
    color:pink;
}
span {
    color:blueviolet;
    font-weight: bold;
}