#relativesDIV {
    width: 400px;
    height: 400px;
    background-color: slateblue;
    position: relative;
    top: 40px;
    left: 60px;
}

#absolutesDIV {
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    top: 100px;
    right: 200px;
}

span {
    position: relative;
    top: 20px;
    left: 20px;
}

b {
    position: absolute;
    top: 20px;
    left: 20px;
}

#testRelativ {
    width: 400px;
    height: 400px;
    background-color: darkseagreen;
    position: relative;
    top: 30px;
    left: 30px;
}

#testAbsolut {
    width: 50px;
    height: 50px;
    background-color: hotpink;
    position: absolute;
    bottom: 175px;
    left: 175px;
}