.test {
    width: 600px;
    height: 600px;
    background-color: lightblue;
}

@media (width: 900px) {

    .test{
        width: 500px;
        height: 500px;
        background-color: slateblue;
    }

}

@media (min-width: 800px) {

    .test {
        width: 300px;
        height: 300px;
        background-color: salmon;
    }
}

@media (max-width: 700px) {

    .test {
        width: 400px;
        height: 400px;
        background-color: khaki;
    }
}