.test1 {
    display: block;
    background-color: slateblue;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.test2 {
    width: 300px;
    height: 300px;
    background-color: slategrey;
    margin-bottom: 20px;
    display: inline;
}

.test3 {
    width: 300px;
    height: 300px;
    background-color: salmon;
    margin-bottom: 20px;
    display: inline-block;
}