b ~ span > b {
    color: red;
}

p span.warnung {
    background-color: violet;
}

.warnung ~ b {
    color: lightgreen;
}

html head ~ body > p > b ~ #wichtig {
    font-size: 100px;
    color: skyblue;
}